body {
	background: url('img/baggrund2.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
	overflow-x:hidden;
	margin: 0;
	}

#wrapper {
		width: 1000px;
		margin: 0 auto;
		font-family: 'Arvo', serif;
		color: white;
		line-height:150%
		}
		
#left {
		width: 350px;
		float: left;	
		}
		
#right {
		width: 590px;
		float: right;
		padding: 30px 30px 50px 30px;
		}
		
form {	
	color: white;
	font-size: 16px;
	width: 410px;
	margin:0px auto;
	background-color: #00aeef;
	padding: 30px;
	 -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
	
#submit {
 color: #fff;
 width: 120px;
 height: 50px;
 border: none;
 font-family: 'Arvo', serif;
 font-size: 18px;
  background: #909090; 
 -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
   display:block;
        margin:0px auto;	
}

#footer {
		width: 100%;
		margin: 0px;
		padding: 20px;
		background-color: white;
		clear: both;
		}
	
	
#col {width: 750px;
	margin: 0 auto;
	}
	
#col1 {
		color: black;
		width: 220px;
		display: inline-block;
		}

#col2 {	
		color: black;
		width: 220px;
		display: inline-block;
		}
		
#col3 {	
		color: black;
		width: 220px;
		display: inline-block;
		}